h1 {
    font-size: 60px;
    font-weight: 400;
}
.headTitle {
    width: 97%;
    margin: 130px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
input[type=search] {
    width: 335px;
    height: 68px;
    border: 1px solid #22A638;
    border-radius: 18px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-image: url("../../logo/search.png");
    background-repeat: no-repeat;
    background-position: 140px 20px;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #0B0B0B;
}
.main {
    display: flex;
    gap: 20px;
}