.catalog {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    cursor: pointer;
    width: 335px;
}
.info {
    display: flex;
    justify-content: space-between;
}
.catalog span {
    color: #838383;
    font-size: 14px;
}
.catalog div:hover {
    opacity: 0.8;
}
.catalog div img {
    width: 335px;
    height: 430px;
    border-radius: 5px;
}